<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="warning" />
    <module name="TreeWalker">
        <!-- Class name : PascalCase -->
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
        </module>

        <!-- Class name in camelCase) -->
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="EmptyBlock"/>

        <module name="NeedBraces"/>

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="tabWidth" value="4"/>
        </module>


        <module name="RedundantImport"/>

        <!-- Vérifie l'ordre des imports -->
        <module name="ImportOrder">
            <property name="option" value="top"/>
            <property name="ordered" value="true"/>
            <property name="separated" value="true"/>
        </module>
    </module>
</module>
